.rs-main-data-table {
    .change {
        font-size: 8px;
        margin-left: 1ch;
    }

    .negative-change {
        color: darkred;
    }

    .positive-change {
        color: green;
    }

    .total-column {
        border-left: 1px solid #ccc;
    }
    
    td.total-column .count {
        font-weight: bold;
    }

    td.total-all-day-column {
        font-weight: bold;
    }

    th.subreddit-column .ant-table-column-sorters > span:not(.ant-table-column-sorter ) {
        writing-mode: vertical-lr;
        transform: rotate(-160deg);
    }

    .odd-row > td {
        background: #f8f8f8;
    }

    .rs-main-data-table-remembered-ticker {
        margin-left: 6px;
    }
}

.rs-main-data-table-footer {
    display: flex;
    flex-direction: row;
    margin: 1px 5px;

    .rs-main-data-table-pagination {
        margin-left: auto;
    }
}

.rs-main-data-table-pagination {

    // Last updated align to the left
    .ant-pagination-total-text {
        margin-right: auto;
    }

    .updated-at {
        padding-left: 2px;
        font-size: 12px;
    }
}
