.rs-expanded-row {
    .stock-header {
        padding-left: 15px;
    }

    a.submission-link {
        display: block;

        &.removed {
            text-decoration-line: line-through;
        }
    }

    .stock-and-company-title {
        display: inline;
        margin-right: 25px;
    }

    .ant-table-wrapper.extra-small {
        tr > td.ant-table-cell, tr > th.ant-table-cell .ant-table-column-sorters {
            padding: 2px 4px;
        }
    }

    .stock-link {
        display: inline-block;
        font-size: 12px;
        margin-right: 10px;
    }

    .ant-table-pagination.ant-pagination {
        margin: 8px 0 !important;  // TODO use scopes?
    }
}
